/* Navbar.css */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    height: 60px;
    z-index: 10; /* Ensures the navbar stays on top of other elements */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #333;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .navbar-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    text-decoration: none;
    }

    .navbar-brand .navbar-logo {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links li {
    list-style: none;
    
  }
  
  .navbar-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    gap: 0.5rem;
    display: flex;
    align-items: center; /* Center text and icons vertically */
  }
  
  .navbar-links a:hover {
    color: #ddd;
    text-decoration: underline;
  }
  
  .icon {
    font-size: 1.2rem;
  }

  .content-section {
    padding-top: 80px; /* Adjust this to match the height of your navbar */
}

.navbar-profile {
    display: flex;
    height: 3rem;
    border-radius: 50%;
    align-items: center;
    gap: 1rem;
    color: #fff;
    text-decoration: none;
}